body{
    background-color:#ccc;
    .main{
        height: 70vh;
        width: 99vw;
        border: 2px solid black;
        display: grid;
        place-items: center;
        .head-text{
            font-size: calc(2vw);
            font-weight: 800;
        }
    }
}