body{
    background-color: burlywood;
    
}
.main{
    text-align: center;
    font-size: 90px;
}
.buttons button{
    padding: 13px;
    font-weight: bold;
    background: gray;
    border-radius: 10%;
    margin: 10px;
}
