body{
    background-color: #cccc;
    place-items: center;
    display:grid;
}
div{
    width: 80%;
    text-align: center;
}
p{
    column-count: 3;
    column-gap: 50px;
    column-rule: 3px solid rgb(228, 27, 27);
    text-align: justify;
}
