
 h1{
    color: rgb(0, 76, 255);
    font-size: 30px;
 }

 /* hover is use for change color to click time */
 
 h1:hover{
    color: #a52a2a;
 }

 .navbar{
    list-style: none;
    display: flex;
    gap: 10px;
 }


 #p1:hover{
   font-weight: bold;
   color:rgba(200, 25, 30, 0.90);
 }
 #p1{
   font-weight: bold;
   color:rgba(20, 35, 200, 0.7);
 }


 .btn{
    background-color: #999;
    color: #000;
   font-size: 18px;             
 }

 .btn:hover{
    background-color: #000;
    color: #a52a2a;
 }

 body{
   width: 100%;
   height: 100vh;
   background-color:  #f0f0f0;
 }